<!DOCTYPE html>
<html>

{% include head.html %}

<body class="">

  <header class="main-header wrapper">
    <div class="inner clearfix">
      <ul class="navigation navigation_top clearfix">
        {% for nav in site.data.navigation %}
        <li class="navigation__item">
          <a href="{{nav.url}}" class="navigation__link js-openModal">{{nav.title}}</a>
        </li>
        <!-- /.naviation__item -->
        {% endfor %}

      </ul>
      <!-- /.navigation navigation_top -->
      <div class="site-logo">
        <a href="" class="site-logo__link">

        </a>
      </div>
      <!-- site-logo -->
      <div class="site-title">
        <h1 class="site-title__headline">
          Лотерея CS:GO
        </h1>
        <!-- /.site-title__headline -->
        <h2 class="site-title__description">
          уникальный сервис,<br>
          где вы можете испытать свою удачу
          при покупке предметов CS:GO
          подробнее
        </h2>
        <!-- /.site-title__descripton -->
      </div>
      <!-- /.site-title -->

      <div class="info-block info-block_header">
        у нас моментальная доставка
      </div>
      <!-- /.info-block info-block_header -->

    </div>
    <!-- /.inner -->
  </header>
  <!-- main-header -->

  <section class="wrapper wrapper_clear head-block">
    <!-- get-coupon-button -->
    <div class="inner inner_head-block">

      <a href="#" class="get-coupon-button">
        <span class="get-coupon-button__text">Получить скидку</span>
      </a>
      <span class="head-block__text head-block__text_top">
       УБЕДИТЕСЬ, ЧТО ВАШ ИНВЕНТАРЬ ОТКРЫТ ДЛЯ ОБМЕНА!
     </span>
   </div>
   <!-- inner, head-block__text -->
 </section>
 <!-- wrapper_head-block -->

<section class="wrapper timer_wrapper">
  <div class="inner">
    <div class="timer">
      <h4 class="timer__headline">
      Успей использовать скидку на новые покупки!
      <br>
      До конца акции осталось:
      <br>
      </h4>
      <!-- timer__headline -->
      <span id="cd"><span>17</span><span class="sep"> : </span><span>01</span><span class="sep"> : </span><span>07</span></span>
    </div>
    <!-- /.timer -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.wrapper -->

<section class="wrapper wrapper_main">
  <div class="inner">
    <main class="products clearfix">
    {% for i in (1..12) %}
      <article class="product">
        <span class="product__discount">
          скидка - 30%
        </span>
        <!-- product__discount -->
        <figure class="product__image">
          <img src="{{site.baseurl}}img/product.png" alt="">
        </figure>
        <a href="buyform.html" class="product__buy js-openModal">
          получить
        </a>
        <!-- product__buy -->
        <div class="product__info">
          <h1 class="product__title">
            Случайное
          Тайное оружие
          </h1>
          <!-- /.product__title -->
          <div class="product__price">
            $7.2 (407 руб)
          </div>
          <!-- /.product__price -->
        </div>
        <!-- product__info -->
      </article>
      <!-- /.products__item -->
    {% endfor %}

    </main>
    <!-- /.products -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.wrapper wrapper_main -->


  <section class="wrapper wrapper_clear head-block head-block_bottom">
    <!-- get-coupon-button -->
    <div class="inner inner_head-block">

      <span class="head-block__text">
       Только что купили у нас
     </span>
   </div>
   <!-- inner, head-block__text -->
 </section>
 <!-- wrapper_head-block -->

 <section class="wrapper small-blocs-wrapper">
   <div class="inner">
     <div class="small-boxes-wrap clearfix">
      {% for i in (1..8) %}
       <div class="box">
         <figure href="" class="box__image">
          <img src="{{site.baseurl}}img/product.png" alt="" class="box__img">
        </figure>
        <div class="box__info">
          sa****@mail.ru
        </div>
        <!-- /.box__info -->
       </div>
       <!-- /.box -->
       {% endfor %}
     </div>
     <!-- /.small-boxes -->
   </div>
   <!-- /.inner -->
 </section>
 <!-- /.wrapper small-blocs-wrapper -->

  <section class="wrapper wrapper_clear head-block head-block_bottom">
    <!-- get-coupon-button -->
    <div class="inner inner_head-block">
      <div class="payments">
        <a href="http://webmoney.ru" class="payments__item payments__item_webmoney">
          <img src="{{site.baseurl}}img/payment_webmoney.png" alt="">
        </a>
      </div>
      <!-- /.payments -->
      <span class="head-block__text head-block__text_big">
        хочешь больше ?
      </span>
      <span class="head-block__text">
      СТАВЬ -- VK -- НА УДАЧУ ЧТОБЫ УВЕЛИЧИТЬ ШАНС ПОЛУЧИТЬ ДОРОГИЕ ПРЕДМЕТЫ!
     </span>
   </div>
   <!-- inner, head-block__text -->
 </section>
 <!-- wrapper_head-block -->

 <div class="modal modal_buy">
   <span class="modal__close js-closeModal" title="закрыть">
     X
   </span>
   <div class="modal-content">

</div>
<!-- /.modal-content -->

 </div>
 <!-- modal -->




  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="{{site.baseurl}}js/countdown.js"></script>
  <script src="{{site.baseurl}}js/functions.js">   </script>
          
  
   
</body>

</html>
